@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

body {
  background-color:#F6F6F6;
  padding:50px 25px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  max-width: 770px;
  width: 100%;
  margin:0 auto;
}

hr{
  height: 1px;
  background-color: black;
}

.image{
  display: flex;
  
}

.clip-img{
  position: absolute; 
  top: 0; 
  left: 45vw; 
  bottom: 0;
  max-width:100%

}


.Container{
  background-color:white;
  display: flex;

  box-shadow: 10px 5px 15px 5px #e1dbd4;
}

.division:nth-child(1){
  /*width:30px;*/
  flex-grow:1;


}
.division:nth-child(2){
  /*width:740px;*/
  flex-grow:10;
  
}
.division:nth-child(3){
  /*width:30px;*/
  flex-grow:1;
}

.paris-06_father{
  display:flex;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
}

.paris-06_child{
  font-weight: 700;
  display:flex;

}

.paris-06_child:nth-child(1){
  font-size:16vh;
  flex-grow:3;
  align-self: flex-end;
}

.paris-06_child:nth-child(2){
  font-size:6vh;
  flex-grow:1;
  align-self: flex-end;
  justify-content: flex-end;
  
}

.description_father{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1vh;
}

.description{
  display:flex;
}

.description:nth-child(1){
  align-self: flex-start;
    flex-grow:1;
}

.description:nth-child(2){
  align-self: flex-start;
  flex-grow:1;
}

.description:nth-child(3){

  flex-grow:6;
  align-self: flex-start;
  justify-content: flex-end;
}

.empty{
  height: 13vh;
}


.circle-father{
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
}

.circle-sky{
  background-color:#bbe1f2;
  width:32%;
  padding-bottom: 32%; /* Same as width, sets height */
  margin-bottom: 2%; /* (100-32*3)/2 */
  position: relative;
  border-radius: 50%;
}

.circle-black{
  background-color:#616365;
  width:32%;
  padding-bottom: 32%; /* Same as width, sets height */
  margin-bottom: 2%; /* (100-32*3)/2 */
  position: relative;
  border-radius: 50%;
}

.circle-green{
  background-color:#04a565;
  width:32%;
  padding-bottom: 32%; /* Same as width, sets height */
  margin-bottom: 2%; /* (100-32*3)/2 */
  position: relative;
  border-radius: 50%;
}